_compiled
sftp-config.json
magrathea.conf
storage.conf
logs/*.txt
logs/*.log
logs/
plugins
storage
backups

docker/.env
vendor
api/vendor
api/vendor/*
api/composer.lock

Magrathea/
log*.txt

app/dist
app/node_modules

.DS_Store

.vscode
