_compiled
sftp-config.json
magrathea.conf
storage.conf
logs/*.txt
logs/*.log
logs/
plugins
/api/storage/*
!/api/storage/.htaccess
backups

docker/.env
vendor
api/vendor
api/vendor/*
api/composer.lock

Magrathea/
log*.txt

app/node_modules

.DS_Store

.vscode


.dh-diag
*/.dh-diag
api/composer.phar

